<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="./media/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <span>URL Shortner</span>
    </div>
    <div class="url-submission-form">
        <form action="">
            <input type="text" name="" id="">
            <button type="button">Shorten</button>
        </form>
    </div>
    <div class="result-section">
    </div>
</body>
</html>